*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #000000;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo img{
    width: 90px;
}
.main{
    width: 100%;
    height: 768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(fundo.jpg);
}
.mainFilmes{
    width: 100%;
    height: 100px;
    position: relative;

}

.main-heading{
    width: 500px;
    position: absolute;
    padding: 40px;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    background-color: #000000;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
}
.main-heading span{
    color: #dd003f;
    border-bottom: 2px solid #dd003f;
}
.main-heading .details{
    color: #d8d8d8;
}
.main-heading h1{
    font-size: 46px;
    margin: 0px;
    letter-spacing: 3px;
    color: #fff;
}
.header-btns{
    display: flex;
    margin-top: 40px;
    margin-left: 36%;
}
.header-btn{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dd003f;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.366);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #0f0f0f;
}
.navbar ul{
    display: flex;
}
.active{
    background-color: #dd003f;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
    transition: all ease 0.2s;
}
.navbar ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
.navbar ul li a:hover{
    background-color: #dd003f;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
    transition: all ease 0.2s;
}
.navbar .menu-btn,
.menu-icon{
    display:none;
}


.grid-container{
    display: inline-flex;
}

.card-body{
    background-color: white;
    height: 100%;
}
.card-body img{
    width: 100%;
    height: 350px;
    padding: 15px;

}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}



.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}



.pagination {
    margin-top: 20px;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.pagination li {
    margin-right: 5px;
}

.pagination li a {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover {
    background-color: #f0f0f0;
    color: #555;
}

.pagination li.active a {
    background-color: #007bff;
    color: #fff;
}

.pagination li.disabled a {
    cursor: default;
    background-color: #f0f0f0;
    color: #ccc;
}

.pagination li span {
    padding: 8px 12px;
    border: 1px solid #ccc;
    color: #333;
}



.pagination li svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 2px;
    fill: currentColor;
}

.pagination a[aria-label="&laquo; Previous"] svg {
    transform: rotate(180deg);
}

.containerMovies{
    display: flex;
    justify-content: space-around;
}

#grid-catalago{
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
}

.containerCatalagoMovies{
    margin: 0px 150px 0px 150px;
}

